body {
    background-color: blue;
}
table {
    margin: 0 auto; /* Center the table on the page */
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

.submit-button {
    background-color: green;
    color: white;
    /* You can add more styles here if needed */
}